.header {
    display: flex;
    justify-content: center;

}

.state1, .state2, .state3 {
    margin: 5px;
    border: 1px solid red;
    color: gold;
    background: black;

}

.caunt1, .caunt2, .caunt3{
    justify-content: center;
    display: flex;
}
button {
    background: black;
    color: gold;
}
