.heder{
background: grey;

}

.phaser{
  display: flex;

}

.user{
  border: 2px solid yellow;

  height: 1500px;
}

.post{
margin-left: 15px;
  border: 2px solid aqua;


}

.comments{
  border: 1px solid red;
margin: 10px;
}